<h3>Listado de presupuesto:</h3>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Concepto</th>
      <th scope="col">Monto</th>
      <th scope="col">Fecha</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <th scope="row">1</th>
      <td>{{transaction.name}}</td>
      <td>{{transaction.cash}}</td>
      <td>{{transaction.date}}</td>
      <td>{{transaction.type}}</td>
    </tr>

  </tbody>
</table>
