<h3>Mi Presupuesto actual : $22.000</h3>
<hr>

<h3>Historico:</h3>
<div class="row" style="margin-top: 1cm;">
  <div class="col col-9 ">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Concepto</th>
          <th scope="col">Monto</th>
          <th scope="col">Tipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <th scope="row">1</th>
          <td>{{transaction.name}}</td>
          <td>{{transaction.cash}}</td>
          <td>{{transaction.type}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

